<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapps.measurementtool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/app_settings" />

        <activity android:name="com.myapps.measurementtool.SettingsActivity" />
        <activity android:name="com.myapps.measurementtool.GetStartedActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.myapps.measurementtool.AboutActivity" />
        <activity android:name="com.myapps.measurementtool.CreateActivity" />
        <activity android:name="com.myapps.measurementtool.ViewActivity" />
        <activity android:name="com.myapps.measurementtool.ListActivity" />
        <activity android:name="com.myapps.measurementtool.MainActivity"/>
    </application>

</manifest>